<div>
  <div class="container-fluid px-0 ">
    <DiscountBanner v-if="step===0"></DiscountBanner>
  </div>
  <div class="container pt-3 pt-md-5 mt-5 pb-5">
    <CartProgress class="" :step="step"></CartProgress>
    <div class="row justify-content-center" v-if="carts.length===0">
      <div class="h3 text-secondary my-5 py-5">
        尚未選購專輯喔!
      </div>
    </div>
    <div class="row" v-else>
      <!-- 確認商品 -->
      <div class="col-md-9 m-auto " v-if="step===0" style="min-height: 200px;">
        <div class="card text-center mb-4  border-0">
          <div class="card-header bg-muted" id="heading" @click="isOpen=!isOpen">
            <div class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false"
              aria-controls="collapse">
              <div class="d-flex align-items-center text-secondary">購物車明細<i class="material-icons" v-if="isOpen">
                  arrow_drop_up
                </i>
                <i class="material-icons" v-else>
                  arrow_drop_down
                </i>
              </div>
            </div>
          </div>
          <div class="collapse show " id="collapse">
            <div class="card-body px-0">
              <CartList :carts="carts" :cart="cart" @deleteToCart="deleteFromCart">
              </CartList>
              <div class="mb-2 text-left small" :class="{'text-success':isUse,'text-danger':!isUse}">{{message}}
              </div>
              <div class="input-group mb-3 input-group-sm">
                <input type="text" class="form-control form-control-lg rounded-0" placeholder="請輸入優惠碼"
                  v-model="coupon" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary rounded-0" type="button" @click="useCoupon">套用優惠碼</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="d-flex justify-content-between  mb-5">
          <router-link class="btn btn-outline-secondary w-25 w-sm-40 py-3 rounded-0"
            :to="{name:'shopping_List', params:{ category:'all' , page: 1 }}">
            繼續購物
          </router-link>
          <button class=" btn btn-dark w-25 w-sm-40 py-3 rounded-0" @click="step++">下一步
          </button>
        </div>
      </div>
      <!-- 資料表單驗證 -->
      <ValidationObserver ref="form" v-slot="{ invalid  }" class="col-md-9 m-auto" v-if="step===1">
        <form @submit.prevent="submitOrder">
          <CartValidate :postal="postal" :index="index" :userForm="userForm" :countryIndex="countryIndex"
            :areaIndex="areaIndex" :areas="areas">
          </CartValidate>
          <div class="d-flex justify-content-between mb-5">
            <button class="btn btn-outline-dark w-25 w-sm-40 py-3  rounded-0" @click.prevent="step--">上一步</button>
            <button class="btn btn-dark w-25 w-sm-40 py-3 rounded-0">送出訂單</button>
          </div>
        </form>
      </ValidationObserver>
    </div>
  </div>
</div>