@import '~bootstrap/scss/functions';
@import './helpers/_variables';
@import '~bootstrap/scss/bootstrap';

@import './components/_login';
@import './components/_dashboard';
@import './components/_vue-toasted';
@import './components/_collapse';
@import './components/_dropdown';

@import './components/_overlay-hover';

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Open Sans', 'Microsoft JhengHei', sans-serif;
  margin-bottom: 120px;
  font-size: 14.5px;
}

li {
  list-style: none;
}

.container-fluid {
  // height: 1000px;
  position: relative;

  .playlist {
    position: absolute;
    width: 100%;
    height: 98px;
    bottom: 0px;
    left: 0px;
    z-index: 999;
  }
}

.track-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow-y: hidden;
}

.material-icons {
  font-size: 1.25rem;
}

.material-icons-large {
  font-size: 3rem;
  cursor: pointer;
}

input[type='file'] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}

.background-cover {
  background-size: cover;
  width: 100%;
  height: 100px;
  background-position: center center;
}

.background-thumbnail {
  width: 100%;
  height: 250px;
}

.toasted-container.toasted {
  font-size: 3rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  line-height: 120px;
  background-color: #848484;
  z-index: 1000;
}

.alert {
  border-radius: 50px;
}

.img-thumb {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
 {
  opacity: 0;
}
