@function asset($path) {
  @return url('~@/assets/#{$path}');
}

@import '~bootstrap/scss/functions';
@import './helpers/_variables';
@import '~bootstrap/scss/bootstrap';

@import './layout/_login';
@import './layout/_footer';
@import './layout/_offsetcontent';

@import './utilities/_transitions';

@import './components/_dashboard';
@import './components/_vue-toasted';
@import './components/_collapse';
@import './components/_dropdownmenu';
@import './components/_navbar';
@import './components/_pagination';
@import './components/_overlay-hover';
@import './components/_nav-tabs';
@import './components/_card';
@import './components/_banner';

html {
  min-height: 100%;
  position: relative;
  font-size: 14.5px;
}

body {
  font-family: 'Lato', 'PingFang TC', 'Noto Sans TC', 'Microsoft JhengHei', Sans-Serif !important;
  letter-spacing: 1.25px;
  font-weight: 700;
  margin-bottom: $footer-height;
  background-color: white;
}

li {
  list-style: none;
}

p {
  line-height: 1.75rem;
  font-family: '微軟正黑體';
}

a:hover {
  color: transparent;
  text-decoration: none;
}

input::placeholder {
  font-size: 1rem;
}

.min-height {
  min-height: calc(100vh - 200px);
}

.form-control-lg {
  height: calc(1.5em + 1.75rem) !important;
}

.form-control:focus {
  border-color: rgba($color: $secondary, $alpha: 0.75);
  box-shadow: 0 0 0 0.2rem rgba($color: $secondary, $alpha: 0.25);
}

.title-font {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.15rem;
}

.border-2 {
  border: 2px solid;
}

.border-dark-bottom {
  border-bottom: 1px solid rgba($color: $secondary, $alpha: 0.5) !important;
}

.nav-link {
  letter-spacing: 0.15rem;
}

.container-fluid {
  position: relative;

  .playlist {
    position: absolute;
    width: 100%;
    height: 98px;
    bottom: 0px;
    left: 0px;
    z-index: 999;
  }
}

.material-icons {
  font-size: 1.25rem;
  transform: translateY(1px);
}

.material-icons-middle {
  font-size: 1.5rem;
  cursor: pointer;
  transform: translateY(0px);
}

.material-icons-middle.rotate {
  transform: rotate(180deg);
}

.material-icons-large {
  font-size: 3rem;
  cursor: pointer;
}

input[type='file'] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}

.opacity-75 {
  opacity: 0.75;
}

.img-object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blur-background,
.blur-background > img {
  width: 100%;
  height: 450px;
  z-index: -1;
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  overflow: hidden;

  &::after {
    content: '';
    width: 100%;
    height: 450px;
    position: absolute;
    top: -1rem;
    left: 0;
    background-color: rgba($color: $dark, $alpha: 0.25);
    backdrop-filter: blur(10px);
  }
}

.background-cover {
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-overlay {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.background-thumbnail {
  width: 100%;
  height: 250px;

  @media screen and (max-width: 576px) {
    height: 150px;
  }
}

.alert {
  border-radius: 50px;
}

.img-thumb {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.tablists {
  min-height: 450px;
  padding-bottom: 140px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
}

.nav-pills .nav-link {
  position: relative;
  z-index: 3;
  font-weight: bold;

  &::after {
    content: '';
    height: 10px;
    display: block;
    position: absolute;
    background-color: #e3dfdc9c;
    left: 0;
    bottom: 5px;
    width: 0%;
    transition: all 0.25s 0.2s;
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &.active {
    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

.history-back-btn {
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0px;
  width: 60px;
  height: 58px;
  display: block;
  background-color: $dark;
  width: 60px;
  height: 58px;
  left: 0;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 58px;
    left: 0;
    top: 0;
    background: asset('/img/arrow-new.svg') no-repeat;
    background-size: 22%;
    background-position: 1.25rem center;
  }
}

span.material-icons.btn-delete {
  transition: all 0.15s;
  color: $secondary;

  &:hover {
    color: $danger;
  }
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active {
  color: #ffffff;
}

.title-border {
  &-decoration {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 4px;
    }
  }

  &-white {
    &.title-border-decoration {
      &:after {
        background-color: #fff;
      }
    }
  }

  &-dark {
    &.title-border-decoration {
      &:after {
        background-color: $dark;
      }
    }
  }
}

.z-index-3 {
  z-index: 3;
}

.modal {
  z-index: 2000;
}

.modal.show .modal-dialog.modal-dialog-center {
  -webkit-transform: none;
  transform: none;
  position: absolute;
  width: 100%;
  height: max-content;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

/* remove the original arrow */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select + i {
  float: right;
  margin-top: -35px;
  margin-right: 10px;
  pointer-events: none;
  background-color: transparent;
  color: $secondary !important;
  padding-right: 5px;
}

select option {
  padding-right: 21px;
}

.w-sm-40 {
  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    width: 40% !important;
  }
}
