<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="btn btn-primary mt-5 mb-3 float-right font-weight-bold d-flex align-item-center" @click="openModal(true)">
    新增產品
    <i class="material-icons ml-2">add</i>
  </div>
  <div class="table-responsive mt-5">
    <table class="table table-hover table-striped table-bordered table-sm mb-4 text-center">
      <thead>
        <tr class="thead-dark">
          <th class="py-3">分類</th>
          <th class="py-3" style="width:20%">歌手/專輯</th>
          <th class="py-3" style="width:8%">商品照片</th>
          <!-- <th class="py-3">單位</th> -->
          <th class="py-3">是否啟用</th>
          <th class="py-3" style="width:15%">原價</th>
          <th class="py-3" style="width:15%">售價</th>
          <th class="py-3" style="width:8%">編輯</th>
          <th class="py-3" style="width:8%">刪除</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in products" :key="item.id">
          <td class="align-middle">{{item.category}}</td>
          <td class="align-middle">{{item.title}}</br>{{item.description}}</td>

          <td class="align-middle p-3">
            <div class="img-thumb background-cover" :style="{backgroundImage:`url(${item.imageUrl})`}"></div>
          </td>
          <!-- <td class="align-middle">{{ item.unit}}</td> -->
          <td class="align-middle">{{item.is_enabled===1?"啟用":"未啟用"}}</td>
          <td class="text-right pr-3 align-middle">{{item.origin_price | currency}}</td>
          <td class="text-right pr-3 align-middle">{{item.price | currency}}</td>

          <td class="align-middle">
            <button type="button" class="btn btn-secondary btn-sm mr-2" @click="openModal(false,item)">編輯</button>
          </td>
          <td class="align-middle">
            <button type="button" class="btn btn-danger btn-sm" @click="openDelModal(item)">刪除</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <Pagination :pagination="pagination" @getPage="getProducts">
  </Pagination>
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModal"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-0">
        <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title" id="productModal">
            <span>新增產品</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="image">輸入圖片網址</label>
                <input type="text" class="form-control" id="image" placeholder="請輸入圖片連結" />
              </div>
              <div class="form-group">
                <label for="customFile">
                  或 上傳圖片
                  <i class="fas fa-spinner fa-spin" v-if="fileUploadLoading"></i>
                </label>
                <label for="customFile" class="form-control d-flex align-items-center">
                  <i class="material-icons mr-2">cloud_upload</i> 選擇檔案
                </label>
                <input type="file" id="customFile" class="form-control" name="file-to-upload" ref="files"
                  @change="uploadFile" />
              </div>

              <img :src="tempProduct.imageUrl" class="img-fluid" alt />
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label for="title">標題</label>
                <input type="text" class="form-control" id="title" placeholder="請輸入標題" v-model="tempProduct.title" />
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="category">分類</label>
                  <input type="text" class="form-control" id="category" placeholder="請輸入分類"
                    v-model="tempProduct.category" />
                </div>
                <div class="form-group col-md-6">
                  <label for="price">單位</label>
                  <input type="unit" class="form-control" id="unit" placeholder="請輸入單位" v-model="tempProduct.unit" />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="origin_price">原價</label>
                  <input type="number" class="form-control" id="origin_price" placeholder="請輸入原價"
                    v-model="tempProduct.origin_price" />
                </div>
                <div class="form-group col-md-6">
                  <label for="price">售價</label>
                  <input type="number" class="form-control" id="price" placeholder="請輸入售價"
                    v-model="tempProduct.price" />
                </div>
              </div>
              <hr />

              <div class="form-group">
                <label for="description">產品描述</label>
                <textarea type="text" class="form-control" id="description" placeholder="請輸入產品描述"
                  v-model="tempProduct.description"></textarea>
              </div>
              <div class="form-group">
                <label for="content">說明內容</label>
                <textarea type="text" class="form-control" id="content" placeholder="請輸入產品說明內容"
                  v-model="tempProduct.content"></textarea>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="is_enabled" v-model="tempProduct.is_enabled"
                    :true-value="1" :false-value="0" />
                  <label class="form-check-label" for="is_enabled">是否啟用</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" @click="createProduct">確認</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 刪除商品Modal -->
  <div class="modal fade" id="delProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content border-0">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="exampleModalLabel">
            <span>刪除產品</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          是否刪除 <strong class="text-danger">{{ tempProduct.title }}</strong> 商品(刪除後將無法恢復)。
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-danger" @click="deleteProduct(tempProduct.id)">確認刪除</button>
        </div>
      </div>
    </div>
  </div>
</main>