.dropdown-menu-min-width {
  width: 450px;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: 0;

  &.blur {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.dropdown-item {
  &:active,
  &:focus,
  &:hover {
    color: $dark;
    background-color: transparent;
  }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.75rem;
    color: #2a2727e3;
    text-align: left;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;

    &.blur {
      backdrop-filter: blur(0px);
      background-color: transparent;
    }
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 1rem;
    clear: both;
    font-weight: 400;
    color: $secondary;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
    font-size: 0.75rem;

    &:hover,
    &:focus {
      background-color: transparent;
      color: white;
    }
  }
}

.navbar-nav li.drop-hover:hover > .dropdown-menu {
  display: block;
  animation: showDrop 0.15s ease-in 0s forwards;
  border-radius: 0;
  transform: translateY(0px);

  table,
  .btn {
    opacity: 0;
    animation: showTable 0.15s 0.15s forwards;
  }
}

@keyframes showDrop {
  0% {
    transform: translate(-2%, 0px);
  }

  100% {
    transform: translateX(0%, 0px);
  }
}

@keyframes showTable {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
