.navbar-nav li.drop-hover:hover > .dropdown-menu {
  display: block;
  animation: showDrop 0.5s ease-in 0s forwards;
  border-radius: 0;
  transform: translateY(1px);

  table,
  .btn {
    opacity: 0;
    animation: showTable 0.15s 0.15s forwards;
  }
}

@keyframes showDrop {
  0% {
    transform: translate(-2%, 1px);
  }

  100% {
    transform: translateX(0%, 1px);
  }
}

@keyframes showTable {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
