.overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease-out; // border-radius: 0.25rem;

  .mask,
  .material-icons {
    display: none;
    transition: 0.4s ease-out;
    overflow: hidden;
  }

  .border-rounded {
    width: 35%;
    height: 35%;
    border-radius: 50%;
    display: none;
    border: 1px solid $success;
    transition: 0.4s ease-out;
    transform: scale(0);
  }

  h2 {
    position: absolute;
    top: 0%;
    color: $success;
    font-size: 1.2rem;
    display: none;
    position: relative;
  }

  &:hover,
  &:active,
  &:focus {
    .border-rounded {
      display: block;
      border-width: 3px;
      transform: scale(1);
    }

    .material-icons {
      color: $success;
      font-size: 3rem;
      display: block;
    }

    .mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: inherit;
      height: inherit;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .bg-dark-50 {
      background-color: rgba(0, 0, 0, 0.75);
    }

    .bg-dark-100 {
      background-color: black;
    }

    button {
      display: block;
      opacity: 0;
      animation: easeIn 0.4s 0.3s forwards;
    }
  }
}

@keyframes easeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}