.toasted-container.toasted {
  font-size: 3rem;
}

.toasted {
  padding: 0 20px;
  border-radius: 0px;

  .toasted-container .toasted .action:hover {
    text-decoration: none;
  }

  // Templates
  &.rounded {
    border-radius: 1rem;
  }

  // Primary
  &.toasted-primary,
  .primary {
    border-radius: 2px;
    min-height: 38px;
    line-height: 1rem;
    background-color: #353535;
    padding: 6px 20px;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &.success {
      background: $success !important;
    }

    &.error {
      background: #f44336;
    }

    &.info {
      background: #3f51b5;
    }

    .action {
      color: #a1c2fa;
    }
  }

  // Bubble
  &.bubble {
    border-radius: 0.25rem;
    // min-height: 38px;
    line-height: 0rem;
    background-color: #ff7043;
    // padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &.success {
      background: $success !important;
    }

    &.error {
      background: #f44336;
    }

    &.info {
      background: #3f51b5;
    }

    .action {
      color: white !important;
    }
  }

  &.outline {
    border-radius: 30px;
    min-height: 38px;
    line-height: 1.1em;
    background-color: white;
    border: 1px solid #676767;
    padding: 0 20px;
    font-size: 1rem;
    color: #676767;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-weight: bold;

    &.success {
      color: #4caf50;
      border-color: #4caf50;
    }

    &.error {
      color: #f44336;
      border-color: #f44336;
    }

    &.info {
      color: #3f51b5;
      border-color: #3f51b5;
    }

    .action {
      color: #607d8b;
      text-decoration: none;
    }
  }
}