<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="btn btn-primary mt-5 mb-3 float-right font-weight-bold d-flex align-item-center" @click="openModal(true)">
    新增優惠券
    <i class="material-icons ml-2">add</i>
  </div>
  <div class="table-responsive mt-5">
    <table class="table table-hover table-striped table-bordered table-sm mb-4 text-center">
      <thead>
        <tr class="thead-dark">
          <th class="py-3" style="width:18%">ID</th>
          <th class="py-3">標題</th>
          <th class="py-3" style="width:10%">折扣</th>
          <th class="py-3" style="width:20%">使用期限</th>
          <th class="py-3">是否啟用</th>

          <th class="py-3" style="width:8%">編輯</th>
          <th class="py-3" style="width:8%">刪除</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in coupons" :key="item.id">
          <td class="align-middle"><small>{{item.id}}</small></td>
          <td class="align-middle">{{item.title}}</td>
          <td class="align-middle">{{item.percent}}</td>
          <td class="align-middle">{{item.due_date|dateFormat}}
          </td>
          <td class="align-middle">{{item.is_enabled===1?"啟用":"未啟用"}}</td>

          <td class="align-middle">
            <button type="button" class="btn btn-outline-secondary btn-sm mr-2"
              @click="openModal(false,item)">編輯</button>
          </td>
          <td class="align-middle">
            <button type="button" class="btn btn-danger btn-sm" @click="openDelModal(item)">刪除</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <Pagination :pagination="pagination" @getPage="getCouponList">
  </Pagination>
  <!-- Modal -->
  <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModal" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-0">
        <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title" id="couponModal">
            <span>新增產品</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="title">優惠券標題</label>
                <input type="text" class="form-control" id="title" placeholder="請輸入標題" v-model="tempCoupon.title" />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="category">折扣百分比</label>
                  <select name="" id="" class="form-control" v-model="tempCoupon.percent">
                    <option :value="num" v-for="num in 100" :key="num">{{num}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="date">日期</label>
                  <date-picker name="date" v-model="date" :config="options"></date-picker>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="code">優惠券代碼</label>
                  <input type="text" class="form-control" id="code" placeholder="請輸入原價" v-model="tempCoupon.code" />
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="is_enabled" v-model="tempCoupon.is_enabled"
                    :true-value="1" :false-value="0" />
                  <label class="form-check-label" for="is_enabled">是否啟用</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @click="closeModal">取消</button>
          <button type="button" class="btn btn-primary" @click="createCoupon">確認</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 刪除商品Modal -->
  <div class="modal fade" id="delCouponModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content border-0">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="exampleModalLabel">
            <span>刪除優惠券</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          是否刪除 <strong class="text-danger">{{ tempCoupon.title }}</strong> 優惠券(刪除後將無法恢復)。
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-danger" @click="deleteCoupon(tempCoupon.id)">確認刪除</button>
        </div>
      </div>
    </div>
  </div>
</main>