<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
      <router-link class="text-secondary" to="/">KKBOX</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <router-link :to="{name:'MusicCharts'}" class="nav-link">音樂情報
            </router-link>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">搜尋專輯</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">實體專輯</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <router-link :to="{name:'shopping_List',params: { page: 1 }}" class="dropdown-item">全部商品
              </router-link>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <router-link :to="{name:'admin'}" class="nav-link">後臺管理</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/login">登入</router-link>
            </li>
            <li class="nav-item d-sm-block d-lg-none">
              <router-link :to="{name:'cart'}" before-appear class="nav-link d-flex align-items-center bg-danger"
                id="cartDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                購物車
                <i class="material-icons ml-2">shopping_cart</i>
              </router-link>
            </li>
            <li class="nav-item dropdown d-none d-lg-block drop-hover">
              <a :to="{name:'cart'}" before-appear class="nav-link d-flex align-items-center" href="#" id="cartDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                購物車
                <i class="material-icons ml-2">shopping_cart</i>
              </a>
              <div class="dropdown-menu dropdown-menu-right py-4 px-3 " aria-labelledby="cartDropdown"
                style="min-width:400px">
                <table class="table">
                  <thead>
                    <th></th>
                    <th>品名</th>
                    <th>數量</th>
                    <th>單價</th>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in carts" :key="index">
                      <td class="align-middle">
                        <button type="button" class="btn btn-outline-danger btn-sm" @click="deleteFromCart(item.id)">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </td>
                      <td class="align-middle">{{ item.product.title }}</td>
                      <td class="align-middle">{{ item.qty }}/{{ item.product.unit }}</td>
                      <td class="align-middle text-center pl-0">{{ item.final_total|currency }}</td>
                    </tr>
                  </tbody>
                </table>
                <router-link :to="{name:'cart'}" tag="button" class="btn btn-primary btn-block font-weight-bold"
                  href="#">前往結帳</router-link>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>