<div class="container-fluid pt-3 pt-md-5 mt-3 pb-5">
  <HistoryBackButton :last-path="{path:path}"></HistoryBackButton>
  <!-- MusicModal -->
  <div class="modal slide-fade p-0 align-items-center justify-content-center" id="MusicModal" tabindex="-1"
    role="dialog" aria-labelledby="MusicModalTitle" aria-hidden="true" data-backdrop="static" v-if="track_id!==null">
    <div class="modal-dialog modal-dialog-center m-0 w-100 m-md-auto " role="document">
      <div class="modal-content">
        <button type="button" class="close position-absolute align-self-end pt-2 pr-3">
          <span aria-hidden="true" class="display-4" @click="closeTrack">&times;</span>
        </button>
        <TrackIframe :trackId="track_id"></TrackIframe>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-5 mr-5">
        <div class="d-none d-md-flex">
          <img class="img-fluid" :src="product.imageUrl" :alt="product.title" />
        </div>
      </div>
      <div class="col-md-5">
        <ul class="pl-0 mb-4">
          <li class="text-secondary d-flex align-items-center mb-1">
            <router-link :to="{name:'shopping_List',params: { category:'all' ,page: 1 }}" class="text-secondary">All
            </router-link>&ensp;
            /
            &ensp;
            <router-link :to="{name:'shopping_List',params: { category:product.category ,page: 1 }}"
              class="text-secondary">{{product.category}}</router-link>
          </li>
          <li class="text-dark mb-3">
            <h1 class="h2 font-weight-bold text-secondary">{{album}}</h1>
          </li>
          <div class="h-100 w-100 d-flex d-md-none">
            <img class="img-fluid" :src="product.imageUrl" :alt="product.title" />
          </div>
          <li class="text-secondary border-bottom mt-4 mt-md-5 h6 pb-2 d-flex align-items-start">
            <span class="font-weight-bold">建議售價</span>
            <div class="text-success pb-1 ml-3 d-flex align-items-center">
              <i class="material-icons pr-1">monetization_on</i>
              <span class="font-weight-bold">全館免運</span>
            </div>
          </li>
          <li class="my-3 border-bottom pb-3" v-if="product.price">
            <span class="text-secondary h4 font-weight-light mr-4">NT${{product.origin_price}}</span>
            <span class="text-success h4">NT${{product.price}}</span>
          </li>
          <li class="text-muted mt-3 small">藝人</li>
          <li class="text-secondary">{{singer}}</li>
          <li class="text-muted mt-3 small">發行月份</li>
          <li class="text-secondary">{{product.description}}</li>
        </ul>
        <select name id v-model="product.num" class="form-control form-control-lg rounded-0">
          <option value="null" selected disabled>請選擇數量</option>
          <option :value="num" v-for="num in 10" :key="num">{{num}}{{product.unit}}</option>
        </select>
        <i class="material-icons material-icons-middle">keyboard_arrow_down</i>
        <div class="d-flex mt-4">
          <CustomButton class="mr-3 w-50" customClass="btn-outline-dark" text="專輯試聽" @click.native="openTrack">
          </CustomButton>
          <AddToCartButton class="w-50" @click.native="addToCart(product.id,product.num)"></AddToCartButton>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3 mb-5">
        <TabList :product="product" :tracks="tracks" :singer="singer"></TabList>
      </div>
    </div>
  </div>
</div>