<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <tr class="table-responsive mt-5">
    <table class="table table-hover table-striped table-bordered table-sm mb-4 text-center">
      <thead>
        <tr>
          <th class="py-3">訂單 | 日期</th>
          <th class="py-3">用戶資料</th>
          <th class="py-3">訂購資訊</th>
          <th class="py-3">應繳金額總計</th>
          <th class="py-3">付款方式</th>
          <th class="py-3">是否付款</th>
          <th class="py-3">備註說明</th>
          <th class="py-3">編輯訂單</th>

        </tr>
      </thead>
      <tbody>
        <tr v-for="(order,index) in orders" :key="order.id">
          <td class="align-middle">{{order.id }}</br>{{order.create_at | dateFormat}}</td>
          <td class="text-left" rowspan="1">
            <ul class="px-2">
              <li>地址 : {{order.user.address}}</li>
              <li>信箱 : {{order.user.email}}</li>
              <li>姓名 : {{order.user.name}}</li>
              <li>電話 : {{order.user.tel}}</li>
            </ul>
          </td>
          </td>
          <td class="text-left align-middle">
            <ul class="pl-2">
              <li class="" v-for="(product,index) in order['products']" :key="product.id">
                <small v-if="product.qty>0">{{product.product.title}} / 數量 : {{product.qty}}{{product.unit}}</small>
              </li>
            </ul>
          </td>
          <td class="text-right pr-3 align-middle">{{order.total | currency}}</td>
          <td class="text-center align-middle">{{order.payment_method==="credit_card"?"信用卡":"到店付款"}}</td>
          <td class="align-middle font-weight-bold" :class="{'text-success':order.is_paid}">
            {{order.is_paid?"已付款":"尚未付款"}}</br>
          <td class="text-center align-middle"><small>{{order.message}}</small></td>
          <td class="align-middle">
            <button type="button" class="btn btn-outline-secondary btn-sm" @click="openModal(order)">編輯</button>
          </td>
        </tr>
      </tbody>
    </table>
  </tr>
  <Pagination :pagination="pagination" @getPage="getOrders">
  </Pagination>
  <!-- Modal -->
  <div class="modal fade" id="ordermodal" tabindex="-1" role="dialog" aria-labelledby="ordermodal" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-0">
        <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title" id="ordermodal">
            <span>修改訂單</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="d-flex justify-content-between align-items-center">
                <div class="h4 font-weight-bold">用戶資料</div>
                <small class="">{{tempOrder.create_at| dateFormat}}</small>
              </div>
              <div class="form-row">
                <div class=" form-group col-md-12">
                  <label for="title">名稱</label>
                  <input type="text" class="form-control" id="title" placeholder="請用戶名稱" v-if="tempOrder.user"
                    v-model="tempOrder.user.name" />
                </div>
              </div>
              <div class="form-row">
                <div class=" form-group col-md-6">
                  <label for="price">E-mail</label>
                  <input type="unit" class="form-control" id="unit" placeholder="請輸入 E-mail" v-if="tempOrder.user"
                    v-model="tempOrder.user.email" />
                </div>
                <div class="form-group col-md-6">
                  <label for="origin_price">連絡電話</label>
                  <input type="text" class="form-control" id="origin_price" placeholder="請輸入電話" v-if="tempOrder.user"
                    v-model="tempOrder.user.tel" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="category">地址</label>
                  <input type="text" class="form-control" id="category" placeholder="請輸入地址" v-if="tempOrder.user"
                    v-model="tempOrder.user.address" />
                </div>
              </div>
              <hr />
              <div class="form-group">
                <div class="h4 font-weight-bold">訂購商品</div>

                <div class="form-row" v-for="(item,index,i) in tempOrder.products">
                  <div class="form-group col-md-8">
                    <label for="id" v-if="i===0">產品ID:</label>
                    <input type="text" class=" form-control mb-3" id="id" placeholder="數量" v-model="item.product_id"
                      min="0" max="10" />
                  </div>
                  <div class="form-group col-md-2">
                    <label for="unit" v-if="i===0">數量</label>
                    <input type="number"" class=" form-control mb-3" id="unit" placeholder="數量" v-model="item.qty"
                      min="0" max="10" />
                  </div>
                  <div class="form-group col-md-2">
                    <label for="" v-if="i===0">刪除</label>
                    <button type="button" class="form-control btn btn-danger" @click="item.qty=0">刪除</button>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <div class="d-flex align-items-center">
                  <div class="h3 font-weight-bold">付款狀態</div>
                  <div class="form-check mb-1 ml-2">
                    <input class="form-check-input" type="checkbox" id="is_enabled" v-model="tempOrder.is_paid" />
                    <label class="form-check-label" for="is_enabled">是否付款</label>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="payment">付款方式</label>
                    <select name="payment" id="payment" v-model="tempOrder.payment_method"
                      class="custom-select mr-sm-2 custom-select mr-sm-2 form-control">
                      <option value="credit_card">信用卡</option>
                      <option value="cod">貨到付款</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="total"">總計</label>
                    <input type=" unit" class="form-control mb-3" id="total"" v-model=" tempOrder.total" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">備註說明</label>
                <textarea type="text" class="form-control" id="description" placeholder="請輸入產品描述"
                  v-model="tempOrder.message"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" @click="editOrder">確認</button>
        </div>
      </div>
    </div>
  </div>
</main>