<div>
  <BannerCarousel></BannerCarousel>
  <section class="container-fluid bg-light pb-md-5">
    <div class="container pt-3 pb-5">
      <h1 class="mt-5 pb-4 font-weight-bold h3 text-dark text-left title-border-decoration title-border-dark"
        v-scrollanimation>本月推薦</h1>
      <div>
      </div>
      <OffsetContent :randomProduct="randomProduct" class="row align-items-start mt-5 pb-5"></OffsetContent>
    </div>
  </section>
  <div class="container mt-5 pt-3 pb-5">
    <h1 class="pb-4 font-weight-bold h3 text-dark text-left title-border-decoration title-border-dark"
      v-scrollanimation>{{totalCharts.length>0?"熱門排行榜":"資料串聯中..."}}</h1>
    <MusicChartList v-scrollanimation></MusicChartList>
  </div>
  <section class="mt-5 bg-dark">
    <div class="container text-center pb-3 pb-md-5 pt-4">
      <h1 class="pb-4 my-5 font-weight-bold h3 text-white text-left title-border-decoration title-border-white"
        v-scrollanimation>熱銷專輯</h1>
      <Carousel :speed="3000" :scrollPerPage="true" :perPageCustom="[[480, 2], [768, 4]]" :autoplay="true"
        v-scrollanimation>
        <slide v-for="(img, index) in images" :key="img" class="mx-3">
          <img :src="img" :key="index" style="width: 300px; max-width: 100%;" class="pointer"
            @dblclick="slideClick(index)" />
        </slide>
      </Carousel>
      <div class="col-12 col-md-3 m-auto px-0" v-scrollanimation data-delay="0.5s">
        <router-link :to="{name:'shopping_List', params:{ category:'all' , page: 1 }}"
          class="mt-5 mb-5 btn btn-outline-light btn-block py-3 mt-0 font-weight-bold rounded-0">更多實體專輯</router-link>
      </div>
    </div>
  </section>
</div>